@charset "utf-8";


.welcome-section{position: absolute;width: 100%;height: 100%;top:0;left:0;background: #000;overflow: hidden; z-index: 99;}
.content-wrap{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.fly-in-text li{display: inline-block;margin-right: 20px;font-size: 5em;color: #fff;opacity: 1;transition: all 3s ease;}
.fly-in-text li:nth-child(5){margin-right: 0;}
.enter-button{display: block;text-align: center;font-size: 1em;text-decoration: none;color: #adff2f;opacity: 1;transition: all 1s ease 3s;}
.content-hidden .fly-in-text li, .content-hidden .enter-button{opacity: 0;}
.content-hidden .fly-in-text li:nth-child(1) { transform: translate3d(-60px, 0, 0); }
.content-hidden .fly-in-text li:nth-child(2) { transform: translate3d(-30px, 0, 0); }
.content-hidden .fly-in-text li:nth-child(3) { transform: translate3d(0px, 0, 0); }
.content-hidden .fly-in-text li:nth-child(4) { transform: translate3d(30px, 0, 0); }
.content-hidden .fly-in-text li:nth-child(5) { transform: translate3d(60px, 0, 0); }
.content-hidden .enter-button{ transform: translate3d(0, -30px, 0); }

#wrap{width: 100%; height:auto; float: left;}
header{position:fixed; left:0; top:0; width:100%; height:80px; background:#fff; z-index:1; }
.header_inner{position:relative; margin:0 auto; width: 1400px;}
.header_inner .logo{float:left; padding:25px 0 0 25px; font-size:25px;}
.header_inner .gnb{position: absolute; top:25px; left:130px; }
.header_inner .gnb ul li{float: left; margin-left: 30px;}
