@charset "utf-8";

/*------------------- reset ---------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video 
{ margin: 0; padding: 0; border: 0; font-size: 100%; }

/* HTML5 display-role reset for older browsers */
html {font-family: 'Noto Sans KR' sans-serif; color:#333; font-weight:normal; font-size:16px; letter-spacing:0; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; } /*ios와 IE에서 기기회전시 글씨 재조정 예방*/
body {position:relative;line-height:1.6em;font-family: 'Noto Sans KR', sans-serif;width: 100%;height: 100%;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, summary, menu, nav, section {display: block;}
audio, canvas, progress, video {display:inline-block; vertical-align:baseline;} /*IE8,9에서 inline-block으로 지정 ; chrom, firefox, opera에서 progress 세로정렬 표준화 */
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content: none;}

ul,ol,li,dl,dt,dd {list-style:none;}
table {border-collapse:collapse; border-spacing:0;}
table th,td{font-weight:normal;}
img {display: block; border:0; max-width:100%; vertical-align:top; font-size:0; line-height:0;}
i {font-style:normal;}
a {background-color:transparent; font-family: 'Noto Sans KR';} /*IE10에서 active 링크의 회색배경 제거 */
a {color:inherit; text-decoration: none; cursor: pointer;}
a:link,a:visited {text-decoration: none;}
a:hover,a:active,a:focus { text-decoration:none;}

/* form */
button {overflow:visible;} /*IE8/9/10/11 hidden 속성 수정*/
button:focus {outline:none;}

input[type="file"]{padding-left:0;border:none;}
input[type="submit"]{-webkit-appearance:none;}
input[type="radio"],input[type="checkbox"]{/*box-sizing:border-box;*/ padding:0;} /*IE8/9/10 속성값 변경*/
button {text-transform:none; vertical-align:middle; outline:none;margin:0; padding:0; border:0; background:0;}
button,[type="button"],[type="reset"],[type="submit"] {cursor:pointer; -webkit-border-radius:0; -webkit-appearance:none; }
button::-moz-focus-inner, input::-moz-focus-inner {border:0; padding:0;} /*firefox4+ 속성값 변경*/
textarea {overflow:auto; padding: 5px;}
input[disabled="disabled"]{background:#ebebeb; color:#959595;}
select[disabled="disabled"]{background:#ebebeb; color:#959595;}
input,label {vertical-align: middle;}

input[type="radio"],
input[type="checkbox"],
label[for],
button {cursor: pointer;}
input {margin:0;}

legend, caption {width:0; height:0; font-size:0; line-height:0; visibility:hidden; overflow:hidden;}

* {box-sizing:border-box;}

/* ellipsis */
.ellipsis {text-overflow:ellipsis; overflow:hidden; white-space:nowrap; -moz-binding:url();}